[Desktop Entry]
Version=1.0
Type=Application
Name=Arduino IDE
Comment=Open-source electronics prototyping platform
Exec=/opt/arduino-1.6.11/arduino
Icon=arduino-arduinoide
Path=
Terminal=false
StartupNotify=false
