[Desktop Entry]
Version=1.0
Type=Application
Name=FreeCAD
Comment=Feature based Parametric Modeler
Exec=/usr/bin/freecad %F
Icon=freecad
Path=
Terminal=false
StartupNotify=true
